<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="description" content="Momencraft" />
    <meta http-equiv="imagetoolbar" content="no" />
    <link rel="icon" type="image/png" href="~/css/images/favicon@2x.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="~/css/images/favicon.png" sizes="16x16" />
    <title>@ViewBag.Title</title>
    @RenderSection("momentHeader", required: true)

    <link href="~/css/images/mobile-menu/menuCentered.css" rel="stylesheet" />
    <link href="~/css/images/mobile-menu/stylesMenu.css" rel="stylesheet" />
    <script src="~/css/images/mobile-menu/swiper.js"></script>
    <link href="~/css/images/mobile-menu/swiper.css" rel="stylesheet" />
    <style>
        .swiper-container {
            width: 100%;
            margin: 0;
            padding: 0;
        }

        .swiper-slide {
            width: 100%;
            margin: 0;
            padding: 0;
            font-size: 18px;
            background: #fff;
            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
        }
    </style>
    <script type="text/javascript">
        var appInsights = window.appInsights || function (config) {
            function s(config) { t[config] = function () { var i = arguments; t.queue.push(function () { t[config].apply(t, i) }) } } var t = { config: config }, r = document, f = window, e = "script", o = r.createElement(e), i, u; for (o.src = config.url || "//az416426.vo.msecnd.net/scripts/a/ai.0.js", r.getElementsByTagName(e)[0].parentNode.appendChild(o), t.cookie = r.cookie, t.queue = [], i = ["Event", "Exception", "Metric", "PageView", "Trace"]; i.length;) s("track" + i.pop()); return config.disableExceptionTracking || (i = "onerror", s("_" + i), u = f[i], f[i] = function (config, r, f, e, o) { var s = u && u(config, r, f, e, o); return s !== !0 && t["_" + i](config, r, f, e, o), s }), t
        }({
            instrumentationKey: "77271769-27a1-482c-a1a4-381005bf4995"
        });

        window.appInsights = appInsights;
        appInsights.trackPageView();
    </script>
    <script language='JavaScript' type='text/JavaScript'>
        // http://html-generator.weebly.com/html-right-click-disable-code.html
        var tenth = '';
        function ninth() {
            if (document.all) {
                (tenth);
                return false;
            }
        }
        function twelfth(e) {
            if (document.layers || (document.getElementById && !document.all)) {
                if (e.which == 2 || e.which == 3) {
                    (tenth);
                    return false;
                }
            }
        }
        if (document.layers) {
            document.captureEvents(Event.MOUSEDOWN);
            document.onmousedown = twelfth;
        } else {
            document.onmouseup = twelfth;
            document.oncontextmenu = ninth;
        }
        document.oncontextmenu = new Function('return false')
    </script>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-61273231-1', 'auto');
        ga('send', 'pageview');
    </script>

</head>
<body onselectstart="return false;" ondragstart="return false;">
    <center>
        <ul>
            <li>
                <a href="@Url.Action("home", "m")">
                    <span>
                        <img src="~/css/images/mobile-menu/logo-mobile.jpg" width="100%" />
                    </span>
                </a>
            </li>
        </ul>
        <br /><br />
        @RenderBody()
        @RenderSection("momentBody", required: true)
    </center>
    <script type="text/javascript">(function (d, w, c) { (w[c] = w[c] || []).push(function () { try { w.yaCounter29333885 = new Ya.Metrika({ id: 29333885, webvisor: true, clickmap: true, trackLinks: true, accurateTrackBounce: true, params: window.yaParams || {} }); } catch (e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script>
</body>
</html>
