<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="Momencraft" />
    <meta http-equiv="imagetoolbar" content="no" />

    <link rel="icon" type="image/png" href="~/css/images/favicon@2x.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="~/css/images/favicon.png" sizes="16x16" />

    <title>@ViewBag.Title</title>

    <script language='JavaScript' type='text/JavaScript'>
        // http://html-generator.weebly.com/html-right-click-disable-code.html
        var tenth = '';

        function ninth() {
            if (document.all) {
                (tenth);
                return false;
            }
        }

        function twelfth(e) {
            if (document.layers || (document.getElementById && !document.all)) {
                if (e.which == 2 || e.which == 3) {
                    (tenth);
                    return false;
                }
            }
        }
        if (document.layers) {
            document.captureEvents(Event.MOUSEDOWN);
            document.onmousedown = twelfth;
        } else {
            document.onmouseup = twelfth;
            document.oncontextmenu = ninth;
        }
        document.oncontextmenu = new Function('return false')
    </script>


    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-61205153-1', 'auto');
        ga('send', 'pageview');

    </script>
</head>
<body onselectstart="return false;" ondragstart="return false;">
    @RenderBody()
    <div class="icons-wrapper">
        <a href="@Url.Action("momencraft", "home")" class="icon logo">logo</a>
        <a href="@Url.Action("momencraft", "home")" class="icon momencraft">momencraft</a>
        <div class="icon vline1"></div>
        <a href="@Url.Action("momenpic", "home")" class="icon momenpic">momenpic</a>
        <div class="icon vline2"></div>
        <a href="@Url.Action("momentic", "home")" class="icon momentic">momentic</a>
    </div>
    @RenderSection("momentBody", required: true)

    <script type="text/javascript">(function (d, w, c) { (w[c] = w[c] || []).push(function () { try { w.yaCounter29285465 = new Ya.Metrika({ id: 29285465, webvisor: true, clickmap: true, trackLinks: true, accurateTrackBounce: true }); } catch (e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><!-- /Yandex.Metrika counter -->
</body>
</html>
